

#homeLogo {
	
	font-size: 60px;
	color: red;
	font-family: cursive;
	text-shadow: 0px 1px 0px red;
	text-decoration: none;
	
}
#homeLogo:hover{
	text-shadow: 0px 8px 8px #CFD8DC;
}

#themeColor {
	overflow:auto;
	background-color:#757575;
}

.nav-buttons{
	/*padding: 5px 5px 5px 5px;*/
	
}

.nav-buttons button{
	float: right;
	/*margin: 10px;*/
	margin: 6px 6px;
	padding:6px 6px;

}



.info{
	margin-top: 20px;
}
.info p{
	font-family: serif;
	font-size: 40px;
}
.info img{
	float: right;
	width: 40%;
	height: 50%;
}

.gallery{
	position: relative;
	box-shadow: 5px 5px 6px grey;
	margin: 50px 50px;
	clear: both;
	float:right;
	display: hidden;
	width: 410px;
	height: 210px;
	background-color: lightgreen;
	border-radius: 15px;
}

.thumbnails{
	position: relative;
	margin: 25px 25px;
}

#gallery-button{
	text-decoration: none;
	position: absolute;
	bottom: 5px;
	right: 15px;
	font-family: impact;
	font-size: 20px;
}